body{
    margin: auto;
    padding: auto;
    background-color: hsl(0, 0%, 100%) ;
}
header{
    position: fixed;
    top: 0px;
    width: 100%;
}
.navbar{
    background-color: rgb(241, 238, 238) ;
    text-align: center;
    padding: 20px;

}
.navbar a{
    color: black;
    text-decoration: none;
    margin: 10px;
}
.navbar h1{
    position: relative;
    bottom: 25px;
    margin-left: 50px;
    float: left;
}
.footer{
    background-color: rgb(241, 238, 238) ;
}
.footer .box-container{
    display: flex;
}
.footer .box-container .box{
    gap: 1.5em;
    margin-left: 100px;
}
.footer .box-container .box h3{
    
}
.footer .box-container .box a{
    display: block;
    padding: 7px;
    text-decoration: none;
    color: black;
}
.main{
    margin: 0 100px 0 100px;
    display: flex;
    flex-direction: row;
}
.main .row .column img{
    width: 400px;
}
.main .row .column{
    display: flex;
}
.main .row .column p{
    margin-left: 90px;
    margin-right: 100px;
}
.main .row h1{
    text-align: center ;
    font-size: 40px;
    background-color: rgb(255, 231, 247);
    margin-top: 90px;
}
.team .member{
    margin: 0 100px 0 100px;
}
.team .member h1{
    text-align: center ;
    font-size: 40px;
    background-color: rgb(255, 231, 247); ;
    margin-top: 90px;
}
.team .member .team-member{
    display: flex;
}
.team .member .team-member input[type=text]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
.team .member .team-member form{
    margin-left: 40px;
}
.team .member .team-member button{
    background-color: black;
    color: white ;
    padding: 10px;
}
.service{
    margin: 0 100px 0 100px;
}
.service h1{
    text-align: center ;
    font-size: 40px;
    background-color: rgb(255, 231, 247);;
    margin-top: 90px;
}
.service .box-container {
    display: flex;
}
.service .box-container img:hover{
  transform: scale(1.08);
  transition: all;
  transition-duration: 0.5s;
}
.service .box-container img {
    width: 150px;
    height: 150px;
    margin-left: 100px;
    background-color: black ;
}
.service .box-container .box h6{
    margin-left: 150px;
}
.contect{
    margin: 0 100px 0 100px;
}
.contect h1{
    text-align: center ;
    font-size: 40px;
    background-color: rgb(255, 231, 247);;
    margin-top: 90px;
}
.column-1 {
    float: left;
    width: 30.3%;
    margin-bottom: 16px;
    padding: 0 8px;
  }
  .card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  }
  
  /* Some left and right padding inside the container */
  .container {
    padding: 0 16px;
  }
  
  /* Clear floats */
  .container::after, .row::after {
    content: "";
    clear: both;
    display: table;
  }
  
  .title {
    color: grey;
  }
  
  .button {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {
    background-color: #555;
  }
  .blog{
    margin: 0 100px 0 100px;    
  }
  .blog .blog-1{
    display: flex;
  }
  .blog h1{
    text-align: center ;
    font-size: 40px;
    background-color: rgb(255, 231, 247);;
    margin-top: 90px;
  }
  .blog .card{
    width: 25%;
    margin-left: 70px;
  }
  .blog .card:hover{
    transform: scale(1.08);
    transition: all;
    transition-duration: 0.6s;
  }
  .blog .card img{
    width: 100%;
  }
  .blog .blog-1 .card h3{
    margin-left: 10px;
  }
  .blog .blog-1 .card p{
    margin: 10px 10px 10px 10px ;
  }
  .blog .blog-1 .card button{
    background-color: #000;
    color: white;
    padding: 10px;
    margin-left: 100px;
  }
  .singal-blog{
    margin: 0 100px 0 100px;
  }
  .singal-blog h1{
    text-align: center ;
    font-size: 40px;
    background-color: rgb(255, 231, 247);;
    margin-top: 90px;
  }
  .singal-blog .card{
    background-color: rgb(173, 173, 173) ;
    display: flex;
  }
  .singal-blog .card img{
    width: 300px;
  }
  .singal-blog .card p{
    margin-left: 100px;
    margin-right: 100px;
  }
  .slideheader{
    text-align: center;
    margin: 10px;
  }
  
  #slideshow{
    background-color: rgb(242, 255, 0);
    width: 100%;
    height: 100%;
  
  }
  .slidebox{
    
    height: 250px;
    width: 900px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
    overflow: hidden;
    margin-bottom: 0px;
    margin-top: 50px;
        z-index: -1;
  }
  
  .slideing{
    display: flex;
    animation: slideing 5s infinite ;
  }
  
  @keyframes slideing {
    0%{
        transform: translateX(0);
    }
    25%{
        transform: translateX(-25%);
    }
    50%{
        transform: translateX(-50%);
    }
    75%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(-150%);
    }
  }
  .slideheader h1{
    text-align: center ;
    font-size: 40px;
    background-color: rgb(255, 231, 247);;
    margin-top: 90px;
  }
  .review{
    margin: 0 100px 0 100px;
  }
  .review h1{
    text-align: center ;
    font-size: 40px;
    background-color: rgb(255, 231, 247);;
    margin-top: 90px;
  }
  .review .card{
    width: 14%;
    background-color: white;
    margin-left: 50px;
  }
  .review .card:hover{
    transform: scale(1.08);
    transition: all;
    transition-duration: 0.6s;
  }
  .review .card img{
    width: 150px;
    border-radius: 100%;
  }
  .review .review-1{
    display: flex;
  }
  .review .review-1 .card h5{
    text-align: center;
  }
  .review .card span{
    margin-left: 2px;
  }
  .dropbtn {
  background-color: #04AA6D;
  color: white;
  padding: 10px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #3e8e41;}
  
  #about:focus img{
    position: absolute;
    object-fit: cover;
    height: 400px;
    width: 600px;
 
  }

  @media screen and (min-width: 480px) {
    #main h1 {margin-left: auto ;}
  }
  
